body {
    background-color: #D5D5D5 ;
    font-size: 14px;
    font-weight: 600;
    display : block;
}
.Texte {
    font-size: 14px;
    font-weight: 600;
    display : block;
}

.Titre {
    font-size: 26px;
    font-weight: 600;
    display : block;
}

.Titre2 {
    font-size: 20px;
    font-weight: 600;
    display : block;
}

.Barre_Navigation {
    top : 0%;
    left : 0%;
    height:  15%;
    width: 100%;
    background-color: lightslategray;
    position : fixed ; /* l'element de bouge pas lors du scroll*/
    display: flex; /* range les élements en ligne */
    align-items: center; /* centre sur la colonne */
    justify-content: center; /* centre sur la ligne */

}

.NavigationGauche {
    width: 20%;
    text-align: center;
}

.NavigationCentre {
    width: 60%;
    text-align: center;
}

.NavigationDroite {
    width: 20%;
    text-align: center;
}


.sideBar {
    position: fixed;
    background-color: #E7E7E7;
    height: 100%;
    top : 15%;
    left : 0%;
    margin-top: 0%;
    width: 10%;
}

.ContenuSideBar {
    margin-left: 5%;
}

.Corps {
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 5%;
    align-items: center;
    text-align: center;
}

.BoutonCalcule{
    display: block;
    text-align: center;
    font-weight: 800;
    text-decoration: none;

    width: 200px;
    padding: 7px 10px;

    color: black;
    background: darkorange;
}
