#texte {
    font-size: 14px;
    font-weight: 600;
    display : block;
}

#titre {
    font-size: 26px;
    font-weight: 600;
    display : block;
}
.corps {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    text-align: center;
}
