.tableau {
    color: black;
    background: darkorange;
    width:50%;
    margin:auto;
    table-layout: auto;
}

th {
    width: 25%;
    padding:25px;
    text-align: center;
    border: black solid;
}

.tableau a {
    color: black;
    text-align: center;
    text-decoration: none;
}